nav{
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

li {
    float: left;
}

li button {
    display: block;
    background-color: #333;
    border: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li button:hover {
    background-color: rgb(71, 71, 71);
}

#continuar1{
    display: none;
} 

#continuar2{
    display: none;
} 

body {
    margin:0;
    padding:0
}

  #mipresentacion h1{
    font-size: 40px;
}

  #mipresentacion p{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #mipresentacion{
    margin-top: 0%;
}

#miformulario{
    margin-left: 20px;
}


  label{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #caja{   
    width: 60%; 
    margin-left: 20px;
}

    #caja p{
        border: #111 solid 2px;
        padding: 5px;
        margin: 10px;
    }

.div_paso1{
    display: inline;
}
.div_paso2{
    display: none;
}
.div_paso3{
    display: none;
}

.form{
    flex-direction: column;
}

.error{
    background: grey;
    color: red;
}